<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Don_meme">
    <!-- Esto es para proporcionar los permisos de usuario de acceso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BotonAinhoa">
        <activity android:name="don.donmeme.Don_meme.Video"></activity>
        <!-- Esto es para poner los metadatos y el identificador de prueba -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5323698816824230~1436627562" />

        <activity android:name="don.donmeme.Don_meme.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:hardwareAccelerated="false"
            android:name="don.donmeme.Don_meme.Informacion"
            android:theme="@style/Theme.AppCompat.Dialog" />
    </application>

</manifest>